[2018-11-28 23:43] ericl-m3d opened #4 "2.02RC4 Compatibility Issue"
Cannot access the s_prepare.

![img_0025 1](https://user-images.githubusercontent.com/38476827/49189716-6fdb5580-f33d-11e8-8972-4427c3259d8e.JPG)

[2018-11-28 23:51] slipstreamliner commented on #4
Please explain when this issue occurs:

-On Startup?
-When Accessing a particular menu option?

[2018-11-28 23:53] ericl-m3d commented on #4
Clicked the prepare button at the start up. Then this came up

[2018-11-28 23:56] ericl-m3d commented on #4
This is occurring with the 2.02RC4 firmware version.

[2018-11-28 23:59] slipstreamliner commented on #4
Should only be using firmware version 2.02RC2 -- I have tested locally and menu is still functional.  While the latest firmware is 2.02RC5, we have not decided to move to it yet.

[2018-11-29 00:02] slipstreamliner commented on #4
Per our conversation we will begin testing for 2.02RC4; in the meantime this issue is resolved for the current version. Thanks!

[2018-11-29 00:02] #4 closed, assigned to slipstreamliner

[2018-11-29 00:03] slipstreamliner commented on #4
Closed as per internal conversation -- this issue will be revisited soon.

[2018-11-29 00:10] ericl-m3d opened #5 "CRANE - QUAD - www"
The www folder is an old version 1.20

Needs to be changed to 1.22.3

[2018-11-29 01:08] ericl-m3d commented on #5
Updated the dev branch.

[2018-11-29 01:08] #5 closed, assigned to slipstreamliner, ericl-m3d

[2018-11-29 01:11] ericl-m3d opened #6 "Crane - Quad - sys"
The starting motor macros run too slow. Need to speed up.

[2018-11-29 01:13] ericl-m3d opened #7 "Crane - Quad - sys"
There is no start up for testing the xyz motors and quad motors.

[2018-11-29 01:22] #7 closed, assigned to slipstreamliner, ericl-m3d

[2018-11-29 01:28] #6 closed, assigned to slipstreamliner, ericl-m3d

[2018-11-29 01:32] ericl-m3d opened #10 "Crane - Quad - macros"
Can the macros that focus on the extruders be deleted?

Located under macros/.

I don't think we need them, since we have the xfload operation in the LCD.

@shoreliner

[2018-11-29 01:38] ericl-m3d opened #11 "Crane - Quad - sys"
The "home all " XYZ speeds seems too slow (only on the long runs).

This applies to the individual homing sequences as well:

Home X

Home Y

Home Y

[2018-11-29 01:40] ericl-m3d opened #12 "Crane - Quad - menu"
In the "Motor Tests" section (using the LCD), I cannot find a back button.

So, I'd have to wait until the screen "times out" and returns to the home screen to exit that section

[2018-11-29 01:41] ericl-m3d opened #13 "Crane - Quad - menu"
In the "Motor Tests" section (using LCD), none of the buttons (e.g. "test x motor", "test e0 motor") do anything physical.

[2018-11-29 01:49] #11 closed, assigned to slipstreamliner, ericl-m3d

[2018-11-29 01:57] ericl-m3d opened #15 "Crane - Quad - menu"
I am using the "Cooldown" section in the LCD menu screen.

The "Turn Off All Heaters (Hotend.." (can't see the rest) sets the heater to STANDBY mode.

The operation works functionally, ONLY when the standby temp is not changed.
It will not work to turn off the heater if the standby is changed to something else (e.g. changing standby temp through the DWC)

The same issue occurs with the "Turn off H

[2018-11-29 02:06] ericl-m3d commented on #15
Issue resolved.

[2018-11-29 02:06] #15 closed, assigned to slipstreamliner, ericl-m3d

[2018-11-29 02:10] ericl-m3d opened #17 "Crane - Quad - menu"
In the home/main screen, the numbers are set to reading the "active" temps only.

This is typically not a problem, until someone uses the "Cooldown" section.

If they use the commands in the "Cooldown" section, the nozzle temp value on the home screen will not reflect how the temp has effectively changed ("active" temp would stay at e.g. 150 C, but the tool is to "standby" temp, which is set to 0

[2018-11-29 02:22] ericl-m3d opened #19 "Main Menu -- No Option for Fan Control"
There is no option to manually regulate the nozzle fan through the LCD screen.

[2018-11-29 16:34] ericl-m3d opened #20 "www folder outdated"
The www folder is out dated.

Needs an update.

[2018-11-29 16:44] ericl-m3d commented on #20
www folder update to 1.22.3 (firmware 2.02RC2)

[2018-11-29 16:44] #20 closed, assigned to ericl-m3d

[2018-11-29 16:45] ericl-m3d opened #21 "Crane - Bowden - sys"
Entry into the DWC requires password input.

Let's remove this.

[2018-11-29 16:48] #21 closed, assigned to ericl-m3d

[2018-11-29 17:13] ericl-m3d opened #23 "Knob Movement-Rotation issue"
The knob on the LCD moves down when you rotate CounterClockwise.

May be better to change the knob direction (rotating Clockwise to move down).

[2018-11-29 17:24] ericl-m3d opened #24 "Crane - Bowden - sys"
The homing speeds are too slow, for homing macros (All, X, Y, Z)

[2018-11-29 17:29] ericl-m3d commented on #24
Addressed.

[2018-11-29 17:29] #24 closed, assigned to ericl-m3d

[2018-11-29 17:36] ericl-m3d opened #26 "Crane - Bowden - sys"
There is a conflict in the setup of the default tool, located inside tools.g (sys folder).

M563 creates a T1 tool, but the parameters defining T1 are addressed to T0.

[2018-11-29 17:37] ericl-m3d commented on #26
addressed

[2018-11-29 17:38] #26 closed, assigned to ericl-m3d

[2018-11-29 17:41] ericl-m3d opened #27 "Crane - Bowden - sys"
The bed starts up at "off" state. This is a problem when using the LCD screen.

There is no function that activates the bed to "active" state in the LCD screen.

[2018-11-29 17:42] ericl-m3d commented on #27
Addressed.

[2018-11-29 17:42] #27 closed, assigned to ericl-m3d

[2018-11-29 17:44] ericl-m3d opened #28 "Crane - Bowden - sys"
The tool fan is not assigned to the nozzle fan.

[2018-11-29 17:57] ericl-m3d commented on #28
Addressed

[2018-11-29 17:57] #28 closed, assigned to ericl-m3d

[2018-11-29 17:59] ericl-m3d opened #29 "Crane - Bowden - menu"
There is an error when I click on "Home Other" (seen in prepare section).

Error says:
[code]

This issue expands to the "Unloading Filament" button, "Loading Filament" button, and "Motor Test" button (both in the prepare section).

[2018-11-29 18:01] ericl-m3d commented on #29
Missing files in the menu folder ( @shoreliner ):

x_homing
x_funload
x_fload

[2018-11-29 18:02] ericl-m3d commented on #29
This issue expands to both "Unloading Filament" button and "Loading Filament" button (both in the prepare section).

[2018-11-29 18:06] ericl-m3d opened #30 "Crane - Bowden - menu"
The menu file ``` x_cooldown ``` is not populated.

Needs something.

[2018-11-29 18:08] ericl-m3d opened #31 "Crane - Bowden - menu"
When clicking the "Print" button, it goes to the tuning folder.

There's no option to move up the directory.

[2018-11-29 18:09] ericl-m3d commented on #31
Addressed

[2018-11-29 18:13] ericl-m3d commented on #31
An extension to the "print" button, there appears a file called ".gitgnore"

Does nothing when clicked. Should remove.

[2018-11-29 18:14] ericl-m3d commented on #31
Addressed

[2018-11-29 18:14] #31 closed, assigned to ericl-m3d

[2018-11-29 18:25] ericl-m3d opened #32 "Bowden -- Crane Menu Artifact on 'Nozzle'"
There is a visual error in the LCD: The word "Nozzle" blocks part of the number "0".

The other visual errors you see in the pic is not actually there (camera nuisances).

![img_0026 1](https://user-images.githubusercontent.com/38476827/49242956-1f660580-f3da-11e8-8ae8-51441d97e2a4.JPG)

[2018-11-29 18:29] ericl-m3d opened #33 "Crane - Bowden - menu"
Can we remove the option to change the tool number (through the home screen)?

Currently, I can click the tool number (e.g. 0). It may be better to somehow switch it to a display value.

Functionality, it's not a problem, since no values (other than the default Tool 0) can be assigned.

[2018-11-29 18:39] ericl-m3d opened #34 "Crane - Bowden - sys"
Needs a start up sequence (in-house purpose)

[2018-11-29 18:53] ericl-m3d commented on #34
Addressed

[2018-11-29 18:53] #34 closed, assigned to slipstreamliner, ericl-m3d

[2018-11-29 20:31] slipstreamliner commented on #10
Agreed -- these can be removed.  However, we should probably keep some sort of color-purging macro in place.  Marking as an enhancement for fulfillment by PR.

[2018-11-29 20:31] slipstreamliner commented on #12
Acknowledged, this issue will remain open until it is fulfilled via PR.

[2018-11-29 20:34] slipstreamliner commented on #13
I have duplicated this behavior.  Upon analysis of the code, this seems to be a bug with the LCD.  This issue will be fixed via workaround until the firmware is moved to RC5. This is a critical issue an will be resolved ASAP.

[2018-11-29 20:37] slipstreamliner commented on #17
I am investigating the fix you have submitted for this issue.  PR will be updated and noted once issue is resolved.

[2018-11-29 20:38] slipstreamliner commented on #19
While this is certainly possible, we are somewhat lacking in LCD main menu screen space.  I'll attempt to place this on the screen without interfering with other menu items.  More info to come here.

[2018-11-29 20:44] slipstreamliner commented on #23
Can we verify if we're now using the same LCD module for all Cranes?  Due to some past differences, it was necessary to utilize the configuration element:

`M918 R-2`

to config.g or any other of the configuration files that are called.

This previously fixed rotary direction issues on some modules,but it caused others that were working as expected to then become inverted.  We should test this wit

[2018-11-29 20:45] slipstreamliner commented on #29
Acknowledged.

Files will be added via direct commit and referenced here.

[2018-11-29 20:48] slipstreamliner commented on #30
Noted;

My suggestion:  x_cooldown will become a sub-menu with options to cooldown the hotend, bed, or both.  Will be fulfilled via PR.

[2018-11-29 20:50] slipstreamliner commented on #32
This one is strange.  Is this happening on all LCD modules?  I will test this locally.  That looks like a portion of one of the corruption artifacts we see upon power on.

[2018-11-29 20:50] slipstreamliner commented on #33
Agreed. Tool changes really don't make a lot of sense on the LCD.   This will be removed via PR.

[2018-11-29 21:30] ericl-m3d commented on #23
Maybe, I've only seen them on Bowdens (super early builds).
This will addressed case-by-case.

[2018-11-29 21:30] #23 closed, assigned to slipstreamliner

[2018-11-29 22:24] #10 closed, assigned to slipstreamliner, ericl-m3d

[2018-11-29 22:27] slipstreamliner commented on #12
Fulfillment will be resolved by upcoming commit directly to /dev/

[2018-11-29 22:40] #33 closed, assigned to slipstreamliner

[2018-11-29 22:42] slipstreamliner commented on #32
I am not able to reproduce this currently -- please verify firmware version.

[2018-11-30 00:02] ericl-m3d opened #36 "Crane - Quad - sys"
For QC purposes, I would needed a set of additional codes to be used solely for QC (not necessarily beneficial for consumer use).

Was thinking of housing all the additional codes in a single macros.

The macros would be called somewhere in the config.g file.

Activate /deactivate is done by commenting/uncommenting the associated M98 line.

Thoughts? @shoreliner (Want some feedback before I start

[2018-11-30 00:07] ericl-m3d commented on #32
Firmware is 2.02RC2.

Just a thought: could an issue with the LCD type, as seen with the knob direction?

[2018-11-30 16:57] #12 closed, assigned to slipstreamliner

[2018-11-30 17:00] slipstreamliner commented on #13
As per testing, macros are operating correctly if they are executed directly via the console or DWC, but not through the LCD.  Attempting to resolve by calling the macros differently... more info to come.

[2018-11-30 17:11] slipstreamliner commented on #13
Fix has been committed(c5a65e3) as seen above.

[2018-11-30 17:11] #13 closed, assigned to slipstreamliner

[2018-11-30 17:12] slipstreamliner commented on #17
Had some trouble understanding the problem until I recreated it for myself.  I agree and believe your fix is suitable.  PR will be accepted momentarily; this issue will be auto-closed.

[2018-11-30 17:14] #17 closed, assigned to slipstreamliner, ericl-m3d

[2018-11-30 17:15] ericl-m3d opened #37 "All Crane -- Pause/Resume/Cancel options not appearing."
There is no method to pause, resume, or cancel the print, during a print session.

[2018-11-30 17:23] ericl-m3d opened #38 "Quad Temp Control Menu -- Hotend Value Returning Zero"
During a print session, the hotend value appears as zero (which is not correct).

![img_0027 1](https://user-images.githubusercontent.com/38476827/49304489-78956e00-f49a-11e8-8532-f18dd316ff08.JPG)

Both the standby and active temps are not zero.

[2018-11-30 17:26] slipstreamliner commented on #29
For now I am going to add all 3 of the requested menus, but I do wonder @ericl-m3d -- do we want to include filament loading/unloading capabilities for the Bowden?  I will put up bowden-friendly versions of these for now, but we should discuss if they are worth keeping.

[2018-11-30 17:31] #29 closed, assigned to slipstreamliner, ericl-m3d

[2018-11-30 17:34] ericl-m3d commented on #29
Yes. Something to control extrusion through the LCD.

In regards to how to apply it, up to you.

[2018-11-30 17:36] ericl-m3d opened #39 "Quad Submenu -- Temp Control Returning Zero"
I go to use the x_temphadj menu file.

I notice the hotend value is not reflective of the current extruder's temp (this is during a print session).

![img_0028 1](https://user-images.githubusercontent.com/38476827/49305195-995ec300-f49c-11e8-947d-dffad736aee8.JPG)

[2018-11-30 17:39] ericl-m3d opened #40 "All Crane -- Error in e_main"
There seems to be a syntax error in e_main menu file.
[code]

[2018-11-30 18:03] slipstreamliner commented on #19
This value seems to behave differently than others I've added to the menu screen.  I am able to control the case fan, which is set for thermostatic control.  This doesn't make any sense in itself, and may be the indication of a bug.  I am going to come back to this later today and address more some more critical issues for now.  It may be necessary to implement a workaround for this that's differe

[2018-11-30 18:04] slipstreamliner commented on #19
Woops -- did not mean to close this.

[2018-11-30 18:05] slipstreamliner commented on #40
Is there something that is currently calling the e_main menu?  Two solutions exist here:  remove e_main altogether and change its references to main, or simply duplicate everything currently in main to e_main.

[2018-11-30 18:07] ericl-m3d commented on #36
Due to in-house DHCP issues, went ahead and started this.

[2018-11-30 18:07] #36 closed, assigned to slipstreamliner, ericl-m3d

[2018-11-30 18:09] ericl-m3d commented on #40
I suppose e_main is called during a print session only. Not to sure.

I think it's that since the e_main content is similar to the home screen content during a print session.

[2018-11-30 18:11] #30 closed, assigned to slipstreamliner, ericl-m3d

[2018-11-30 18:12] ericl-m3d commented on #40
I take that back. I don't know.

[2018-11-30 18:13] slipstreamliner commented on #32
@ericl-m3d I think so.  I haven't been able to duplicate this on either of my LCDs at this point.

[2018-11-30 18:19] slipstreamliner commented on #37
Pause and Resume functionality are part of s_tune -- accessed via 'Tune' in the bottom right of the main menu, this only appears when the printer is in a non-idle state(Like printing, paused, etc).  Due to the state-based nature of the LCD menu,  you will only see "Pause" when printing, or "Resume" when the printer is paused as the 3rd from last item in s_tune.

Could you please verify if this is

[2018-11-30 18:22] slipstreamliner commented on #38
Noted -- this is due to the memory reference specifically defined for the PT1000.  This is a remnant of that functionality.  I will produce the fix but at this point will need you to test it... give me a few moments.

[2018-11-30 18:30] slipstreamliner commented on #39
This is just like #38... cleanup for thermistor change.  Fix incoming soon.

[2018-11-30 18:32] slipstreamliner commented on #40
A lot of these files that seem to have a copy of themselves are part of a set that were utilized to present the impression of "states" before they were implemented in the Duet firmware.  At this point, it's probably best if I go through and clean up anything we aren't referencing and that isn't useful.  This one will take a bit longer and will be served with a PR instead of a direct commit so that

[2018-11-30 19:01] ericl-m3d commented on #19
![img_0028 1](https://user-images.githubusercontent.com/38476827/49309177-56a2e800-f4a8-11e8-995a-dc0b2e4398f0.JPG)
![img_0027 1](https://user-images.githubusercontent.com/38476827/49309190-5f93b980-f4a8-11e8-89d6-c20db2890d0c.JPG)

[2018-11-30 19:14] ericl-m3d commented on #38
The update did not fix the bug. @shoreliner

[2018-11-30 19:15] ericl-m3d commented on #37
This is all that appears.

![img_0029 1](https://user-images.githubusercontent.com/38476827/49309240-95d13900-f4a8-11e8-8203-1eaf2a500897.JPG)

![img_0030 1](https://user-images.githubusercontent.com/38476827/49309226-8b16a400-f4a8-11e8-91ac-64bd50f17876.JPG)

[2018-11-30 19:20] ericl-m3d opened #41 "Auto Nozzle fan Testing"
Need auto nozzle fan testing for qc.

[2018-11-30 19:21] #41 closed, assigned to ericl-m3d

[2018-11-30 20:02] slipstreamliner opened #42 "Included Gcode for Prints"
Can we discuss the models that have already been sliced, noted here:

http://crane.printm3d.com/community-submissions-attributions/attributions

For inclusion on the official SD cards?  I believe that we should consider making each version similar where the Quad prints with 4-color mixing, the Dual prints with 2-color mixing, and the Bowden prints solid.

Any ideas here are welcome.  It's also not

[2018-11-30 21:18] ericl-m3d commented on #42
I don't mind including any of these.

NOTE: There's currently a sliced model in both the bowden and quad. It's a crane micro spool holder (used for QC).

[2018-11-30 23:37] shoreliner commented on #37
Noted...  I have posted the file 'MEMORYLOCATIONS.MD' here on Github, in the /SD Cards folder.  It seems that no matter which value we use here, we aren't getting a correctly returned value.  I am investigating.

[2018-11-30 23:39] slipstreamliner commented on #38
Thanks; working on this in tandem with #39 -- what seems odd here is that we are using the same value to populate the menu screen.  This will be closed along with the ticket that has been referenced.

[2018-11-30 23:41] slipstreamliner commented on #19
Patch upcoming -- I have found a method that works.

[2018-11-30 23:43] slipstreamliner commented on #32
@ericl-m3d Any opposition to closing this?  I don't have any other LCDs to verify on -- both of mine are not presenting this issue.  If you'd like to test again before closing, just leave a comment with the result.  I'm leaving this open for now.

[2018-11-30 23:44] slipstreamliner commented on #37
Investigating...

[2018-11-30 23:56] slipstreamliner commented on #42
Spool Holder will be included.  Fulfilled here by commit.

[2018-12-03 17:05] ericl-m3d commented on #32
Closing this.

[2018-12-03 17:05] #32 closed, assigned to slipstreamliner, ericl-m3d

[2018-12-03 18:37] ericl-m3d opened #44 "Unloading Macros Request"
Need an unloading macros.

(There is an unloading section, probably house it in there.)

Suggested Commands:
[code]

[2018-12-03 22:52] ericl-m3d opened #45 "Switching Default QC State"
Will switch to default QC state as off. This is to avoid users from getting the printer in the QC mode.

[2018-12-03 22:52] #45 closed, assigned to nobody

[2018-12-03 22:54] ericl-m3d opened #46 "QC Macros - Extruder and Bed new position"
During QC process, need to relocate extruder head and bed position manually.

Will switch to automated, by updating qc.g macros.

[2018-12-03 23:02] #46 closed, assigned to ericl-m3d

[2018-12-03 23:03] ericl-m3d opened #47 "QC Macros: Add heating automation."
Add a heated automation for the heated bed & extruder .

[2018-12-04 00:43] ericl-m3d opened #48 "Remove automated motion from SD"
Due to hazards of unexpected movement, remove any automated motion at start up

[2018-12-04 00:44] ericl-m3d opened #49 "Start up QC issue"
Have the menu load first, then start the QC macros.

[2018-12-04 00:46] ericl-m3d opened #50 "Start Up QC Motion"
The secondary motion after hitting the endstop needs to be quicker.

[2018-12-04 00:47] #47 closed, assigned to nobody

[2018-12-04 16:25] slipstreamliner commented on #44
Sounds great to me, I'll add via commit across the board... Drives will vary per model. We could put this on the unload menu as a different sort of "retract all/unload all" than we one we have there now. Will close via commit after testing.

[2018-12-04 16:37] slipstreamliner commented on #48
As noted in (81c2659) -- what are your thoughts on moving all motor test calls to qc.g in a block of their own @ericl-m3d ?  This would remove the need to call any macros directly from config.g.  For now, they've been commented out.

[2018-12-04 16:41] ericl-m3d commented on #48
Okay. Let's do that.

[2018-12-04 16:42] slipstreamliner commented on #50
After taking a look, I agree -- value was drastically lower than originally planned.   Following this next commit, the rate value for both X and Y axes will be 6000 and is reduced to 2/3 of that after hitting endstop(4000).  For the Z axis, the value 1200 is also 2/3 of its original rate, bringing it up to 800.

[2018-12-04 16:43] #50 closed, assigned to nobody

[2018-12-04 16:45] slipstreamliner commented on #49
I am unsure if it's possible to force this in Firmware 2.02RC2 -- I believe a refresh option is available in RC5.  Let me do some additional research and get back to you here.

[2018-12-04 16:49] slipstreamliner commented on #37
@ericl-m3d -- the refresh to s_tune should have resolved this issue.  In addition, I've also collapsed the Flowrate menu into a sub menu of its own, as opposed to displaying all values actively on s_tune.  I have tested here and verified by doing the following:

1.  Start a print test file.
2.  Wait approximately 30 seconds; Tune never seems to be available directly after starting a print(it will

[2018-12-04 17:05] slipstreamliner commented on #40
Before I wrap this up:  I am going to take the current state of the menu and remove any files in /menu/ that are not actively being called.  This will exist as a patch branch initially before merging so that we can test following the removal of a number of files.

[2018-12-04 17:11] slipstreamliner commented on #38
Okay, new take on this:  Temperature Tuning/Prepare menus are now being redesigned.  This will ensure all models have a similar user experience, and allow me to simply start over on some of these files.  I anticipate fixing this today with a patch, but I need to rewrite a few items and test first.

[2018-12-04 17:20] slipstreamliner commented on #44
As noted in above commit -- remove_filament macros were added to each crane model.  Issue will be closed following addition of this to the LCD menu and any discussion necessary.

[2018-12-04 17:24] ericl-m3d commented on #49
You're right. This may not be possible with the current firmware version. The 2.02RC4, as I recall, solved this issue.

So, this is pending RC4 compatibility (#4 )

[2018-12-04 20:05] ericl-m3d opened #51 "Naming Convetion - Loading Filament MENU"
The current naming convention for the LOADING FILAMENT section (LCD screen) is:

[code]

This naming convention is confusing. Change so that port number on sticker matches the numbers displayed.

[2018-12-04 20:12] #51 closed, assigned to nobody

[2018-12-04 20:13] ericl-m3d opened #52 "Naming Convention - UNLOADING menu"
The current naming convention for the LOADING FILAMENT section (LCD screen) is:

Load 1 (D0)
Load 2 (D1)
Load 3 (D2)
Load 4 (D3)
This naming convention is confusing. Change so that port number on sticker matches the numbers displayed.

[2018-12-04 20:15] #52 closed, assigned to ericl-m3d

[2018-12-04 20:22] slipstreamliner commented on #49
Exactly. I think we should do the following for the next release:

First, after resolving the bugs here that can be resolved release version 1.32(internal 1.3, 2.02RC2) as things are now.  Then, post-upgrade, begin working on the 1.35(internal 1.3, 2.02RC5)as a separate release.  With that in mind, these issues could be rolled into a new milestone, project, or label.

[2018-12-04 20:27] slipstreamliner commented on #38
To elaborate on this:

I suggest the creation of two menu items.  One in s_prepare(for Idle), and one for s_tune(while printing/paused).

s_prepare will have "Temperature Controls" added as a submenu with the items:
-Bed Temperature (Current val) / (Set value)
-Hotend Temperature(Current val) / (Set value)
-PID Autotune (Degree to Tune)

s_tune will have "Temperature Tuning" added as a submenu wit

[2018-12-04 20:32] slipstreamliner commented on #19
Based on the file I uploaded last week, https://github.com/PrintM3D/Crane/blob/dev/SD%20Card%20Structure/MEMORYREFERENCES.MD in the root of the SD card folders for each model, I am going to make an update that needs to be tested for this particular issue.  The references we are provided with based on the LCD for the fan are as follows:

-300-398	Fan (N-300) percent full PWM e.g. 302 = fan 2 percen

[2018-12-04 20:34] ericl-m3d commented on #49
Okay.

Please finish the issues #19 and #17 . Then move exclusively to working on RC5 (or RC4, whichever you think is the easiest to work with) compatibility.

All other issues are minor enough to disregard them for awhile, until we have the "upgrade compatibility"

[2018-12-04 20:49] slipstreamliner commented on #49
Will do, updates coming momentarily for those in fact.

[2018-12-04 20:51] slipstreamliner commented on #19
Updated as requested.  Please check functionality -- I had an issue with the machine I was using for testing, need to take it apart for reconfiguration later but just operating on our agreed upon ports for now.  It worked okay for me when I adapted it to my configuration.

[2018-12-04 20:54] slipstreamliner commented on #49
As for version -- RC4 vs RC5 should only be improvements for us, so if we're making a jump we should jump to 5.

[2018-12-04 21:10] slipstreamliner commented on #38
From now on -- this issue resolves #39 going forward.  If necessary, the request will be reopened.. as of now, the patch recreates both of these elements.

[2018-12-04 21:11] slipstreamliner commented on #39
Resolved as per my notes in #38 -- this will be fixed with temp menu patch.

[2018-12-04 21:11] #39 closed, assigned to slipstreamliner, ericl-m3d

[2018-12-04 21:12] slipstreamliner commented on #38
s_prepare is now updated along with a new s_temp_prepare sub-menu on all models. Please test in the "patchmenu" branch.

[2018-12-04 21:18] slipstreamliner commented on #40
As it is already a part of Pull Request #43 -- and the patch is now growing far beyond this, this issue will be closed unless it is necessary to reopen.

[2018-12-04 21:18] #40 closed, assigned to slipstreamliner, ericl-m3d

[2018-12-04 21:19] slipstreamliner commented on #38
I have collapsed all of these issues into the menupatch branch.  This exists as a PR already with tailing commits.  @ericl-m3d could you test to confirm functionality on your side?  As noted above:

s_prepare will have "Temperature Controls" added as a submenu with the items:
-Bed Temperature (Current val) / (Set value)
-Hotend Temperature(Current val) / (Set value)
-PID Autotune (Degree to Tune)

[2018-12-04 21:28] slipstreamliner commented on #44
@ericl-m3d do you want to test these out before I add them to the menu?

[2018-12-04 21:33] ericl-m3d commented on #44
Okay. Test them. I'll have to test them as well.

[2018-12-05 00:33] ericl-m3d commented on #44
Edits to the macros.

[code]
The M120 and M121 may not be necessary. I'm following the convention of the extrusion buttons in DWC.

Definitely the M83 needs to be there.

Use the is macros. Please add to menu.

[2018-12-05 00:37] #19 closed, assigned to slipstreamliner

[2018-12-05 00:42] ericl-m3d commented on #48
The movement macros in the qc.g do not need to be commented out.

The M98 Pqc.g in the config.g file is commented out.

Needs fixing.

[2018-12-05 18:03] ericl-m3d commented on #48
The same issue is occurring with the Bowdens. Needs fixing.

[2018-12-05 18:04] #48 closed, assigned to slipstreamliner, ericl-m3d

[2018-12-05 18:17] ericl-m3d commented on #23
How do I reverse the knob direction? (doing a case-by-case)

Currently, I've tried this:

[code]

And the later with ``` M918 E2 ```

[2018-12-05 18:21] ericl-m3d opened #53 "Loading & Unloading Filament Text Issue"
There's a lack of space between ""load filament" and "20mm" in the x_fload file (menu).

[2018-12-05 18:21] ericl-m3d commented on #53
![9b0c952b-1566-4a11-b876-4d2f41713493](https://user-images.githubusercontent.com/38476827/49534885-bb878500-f890-11e8-9d49-634b7a790c26.jpeg)

[2018-12-05 18:24] ericl-m3d commented on #53
The same issue occurs in x_funload.g file (menu).

![17337222-ba1c-4356-ae6b-4d39f019c403](https://user-images.githubusercontent.com/38476827/49535025-20db7600-f891-11e8-9c87-7a5d509ed9b4.jpeg)

[2018-12-05 18:26] ericl-m3d opened #54 "Motor Test Not working"
The motor test section is not working (Bowden only).

![37f62403-fd4d-4e31-89f3-a89246caefea](https://user-images.githubusercontent.com/38476827/49535116-57b18c00-f891-11e8-878f-82def3c68b02.jpeg)

[2018-12-06 01:21] ericl-m3d opened #55 "Crane spool holder gcode issues"
There is no post-print gocde used to move the head out of the print during a print test. Need to address.

There's a warning about a macros not found "retraction_setting.g". This is not used anymore. Delete this.

[2018-12-06 01:40] ericl-m3d commented on #55
This needs to be done for the bowden as well.

[2018-12-06 21:39] ericl-m3d commented on #37
This works well now.

The cancel option is only component missing.

[2018-12-07 18:05] ericl-m3d opened #56 "Unloading temperature"
The unloading temperature is currently set at 150-155.

This was thought to be optimal.

After further cases, we've considered reducing the temp even more, due to nozzle inspections after unloading.

New unloading temperature is 130. Adjust accordingly.

[2018-12-07 18:07] ericl-m3d commented on #56
@shoreliner  Remove the other preheat temp option. I believe 130 temp would be a somewhat universal settings.

[2018-12-08 03:37] slipstreamliner commented on #37
Thank you sir -- will check out the cancel issue and update.

[2018-12-08 03:38] slipstreamliner commented on #38
Almost there -- had some issues with reading temp, and have resolved with config updates.  Currently testing updates prior to updating the branch.

[2018-12-08 03:38] slipstreamliner commented on #44
Acknowledged. Will to and add to menu.

[2018-12-11 14:51] daniel-farina opened #57 "Missing manual leveling macro in Dual and Quad."
While revising the instructions for the Crane Quad I found the following issue here:

https://crane.printm3d.com/crane-quad-guide/manual-bed-leveling-assistant

This Quad Instructions claim there should be a calibration section called Calibration > manual bed leveling.
![image](https://user-images.githubusercontent.com/13665117/49808191-f1fa4f80-fd29-11e8-9ab6-772bf95da208.png)
but this is what I

[2018-12-11 14:56] daniel-farina commented on #57
I suggest also giving options in the instructions:

For example: Use the macro located at or run the following g code
[code]
We can do this using the tabs in Gitbooks. @shoreliner

[2018-12-12 17:32] slipstreamliner commented on #57
Issue has been confirmed and is currently in the process of being patched.  See a5188a6 for details.  The branch /rc5patch/ has been created to handle this update. The current issues that have been caused by transitioning from RC2 ->RC5 are being handled separately in the rc5branch.  Following completion, it will be merged back to dev.

[2018-12-13 00:33] ericl-m3d commented on #55
I can't find a cancel.g file. Thought there was one, but its not.

UPDATE: there is a cancel.g file on the bowden and dual. Not the quad.

This issue will be closed when issue #37 is resolved.

[2018-12-13 00:52] ericl-m3d opened #58 "Missing x_motortest menu file"
in the lcd, the x_motortest is missing. Can't do motor tests.

[2018-12-13 00:52] #58 closed, assigned to ericl-m3d

[2018-12-13 00:53] #54 closed, assigned to slipstreamliner

[2018-12-13 01:00] #53 closed, assigned to slipstreamliner

[2018-12-13 01:26] ericl-m3d commented on #23
Okay. I've solved the issue, with the M918 command. Will do this case by case, for the irregular LCDs.

[2018-12-13 01:29] ericl-m3d opened #59 "Update Cooldown menu text"
The "Turn Off All Heater (.. " text is being cut off.

[2018-12-13 01:32] #59 closed, assigned to ericl-m3d

[2018-12-13 01:38] ericl-m3d commented on #55
Issue resolved.

[2018-12-13 01:38] #55 closed, assigned to ericl-m3d

[2018-12-13 01:49] ericl-m3d commented on #56
Dual unloading temperature needs updating.

[2018-12-13 01:50] ericl-m3d commented on #56
The prior commit updated the dual unloading temp to 130

[2018-12-17 17:52] ericl-m3d opened #61 "Firmware Auto-update."
For QC purposes, is it possible to write a macros or some kind of function that automatically switches firmware version of the installed duet board to a designated one (e.g. RC5)?

During QC, boards come installed with different firmware versions. Want to avoid this "checking firmware portion" and assume the QC start up will fix this.

[2018-12-17 22:39] ericl-m3d opened #62 "rc5patch issue: weird text scrolling"
There's something weird going on. Better explained with a video.

[Video.zip](https://github.com/PrintM3D/Crane/files/2688093/Video.zip)

[2018-12-18 16:28] slipstreamliner commented on #62
This issue has been resolved as per prior commit.

[2018-12-18 16:28] #62 closed, assigned to slipstreamliner, ericl-m3d

[2018-12-18 16:43] slipstreamliner commented on #38
This will be resolved as part of the RC5 Patch.

[2018-12-18 16:44] slipstreamliner commented on #44
Marked as RC5 milestone.  Will be resolved on merge.

[2018-12-18 17:12] ericl-m3d opened #63 "weird text in the cancel.g file"
There's weird text in the cancel.g file. I don't think it affects anything functionally. Should probably clean this up.

[2018-12-18 17:13] #63 closed, assigned to slipstreamliner, ericl-m3d

[2018-12-18 19:38] ericl-m3d opened #64 "QC Mode LCD Menu"
Is there a way to have a different menu option during "QC mode"?

Currently, activating "QC" mode is done by uncommenting a M98 line.

I wanted to extend this to the LCD menu, somehow.

[2018-12-18 19:43] slipstreamliner commented on #64
We have some options.  I had considered perhaps making a blank menu appear on startup for 1 second or so and creating a hidden item that can be selected by pressing the rotary encoder immediately after flipping the power on switch.  I will explore some methods that will make it more of a "hidden feature".

[2018-12-18 21:45] slipstreamliner commented on #57
New Leveling Macro has been added per the merge with /rc5patch/ branch.

[2018-12-18 21:45] #57 closed, assigned to slipstreamliner

[2018-12-18 21:46] slipstreamliner commented on #44
View the prior commit to see the updates made to x_funload -- do we need to make further changes?

[2018-12-18 21:47] slipstreamliner commented on #37
Pull Request #60 fixes this.

[2018-12-18 21:47] #37 closed, assigned to slipstreamliner

[2018-12-18 21:48] slipstreamliner commented on #38
Fixed in PR #60

[2018-12-18 21:48] #38 closed, assigned to slipstreamliner, ericl-m3d

[2018-12-18 21:49] slipstreamliner commented on #49
Some fixes Rolled into #60 -- This will be resolved by the current open issue for a new way to load the QC menu.

[2018-12-18 21:49] #49 closed, assigned to slipstreamliner, ericl-m3d

[2018-12-18 21:50] #56 closed, assigned to ericl-m3d

[2018-12-27 01:14] #42 closed, assigned to slipstreamliner, ericl-m3d, michaelarmani

[2018-12-27 02:01] ericl-m3d commented on #44
There is no unloading macros present. Please add.

[2018-12-27 02:04] ericl-m3d commented on #61
NOTE: Roughly tried M997 (in-application firmware update).

Could not get it to work with the DuetMaestroFirmware.bin. I think it may be filename specific, as the documentation kind of implies. (https://duet3d.dozuki.com/Wiki/Gcode#Section_M997_Perform_in_application_firmware_update)

[2018-12-28 21:40] Tylerun opened #65 "(Enhancement) Stop Print"
Please add a stop print command into the tuning menu.

[2018-12-28 21:41] Tylerun opened #66 "(Bug) Restart Print"
Restart print does not do anything. You can press it many times and it will just keep printing.

[2018-12-31 18:23] slipstreamliner commented on #66
I've been able to repeat this -- thanks for the heads up.  This issue will be resolved with an inline commmit.

[2018-12-31 18:29] slipstreamliner commented on #65
This feature was intended for inclusion and will be resolved with an inline commit. Thanks.

[2019-01-02 03:07] bass4aj opened #67 "(Bug) Display has a value of "100" in top left corner."
Top left corner of the display has a floating value of 100 over the "Nozzle" text.

[2019-01-02 03:13] bass4aj opened #68 "(Enhancement) Add manual bed mesh compensation through Menu"
The Duet can use automatic bed mesh compensation to compensate for an unlevel bed. These meshes can also be created manually. Since the encoder can now control motor movements with the latest Duet firmware, I think this would be a great user experience for bed leveling without a probe.

The flow would be something like this:
1. User selects "Mesh Compensation" from the Menu
2. Machine homes, then

[2019-01-03 20:44] Tylerun commented on #67
Which firmware and which printer are you using to get this?

[2019-01-03 20:49] bass4aj commented on #67
Crane Quad, Firmware 2.02 DWC 1.22.6, though I had this issue prior to
upgrading my firmware. I think I was on RC3.

On Thu, Jan 3, 2019 at 2:44 PM Tylerun <notifications@github.com> wrote:

[2019-01-03 20:54] Tylerun commented on #44
I am unable to attach photo but in quad web intetface macro is present and active.

[2019-01-03 20:55] Tylerun commented on #67
I had the same issue upon updating to prerelease version of firmware try updating to release

[2019-01-03 20:59] bass4aj commented on #67
As in the Crane release? My firmware is on 2.02 release right now.

On Thu, Jan 3, 2019 at 2:55 PM Tylerun <notifications@github.com> wrote:

[2019-01-03 21:03] Tylerun commented on #67
So if you look at your printer does it say crane quad in the lower left corner

[2019-01-03 21:04] bass4aj commented on #67
I think it just says "Quad", but I will have to check when I get home.

On Thu, Jan 3, 2019 at 3:03 PM Tylerun <notifications@github.com> wrote:

[2019-01-03 21:10] Tylerun commented on #67
https://youtu.be/hO7-jUEo5Q4
https://youtu.be/QBarLjX7M_M

Try following one of these depending what you use. Duet interface or sd card see if it fixes it

[2019-01-05 01:29] ericl-m3d opened #69 "Nozzle temperature"
The thermistor parameters need tuning

[2019-01-05 01:29] #69 closed, assigned to nobody

[2019-01-05 03:26] ericl-m3d opened #70 "2.02RC5 Firmware"
Add 2.02RC5 firmware to sys folder for easy update/roll-back

[2019-01-05 03:32] #70 closed, assigned to nobody

[2019-01-05 03:34] ericl-m3d opened #71 "Temperature presets"
Update values after thermistor parameter update

[2019-01-05 03:39] #71 closed, assigned to nobody

[2019-01-05 03:40] ericl-m3d opened #72 "Unload macro"
Gcode issue

[2019-01-05 03:43] #72 closed, assigned to nobody

[2019-01-05 21:42] Tylerun commented on #67
Did you get any results?

[2019-01-07 15:53] bass4aj commented on #67
Ah yeah it says crand quad

On Sat, Jan 5, 2019, 5:42 PM Tylerun <notifications@github.com wrote:

[2019-01-07 15:54] bass4aj commented on #67
Didn't have a chance to try the videos you sent. On vacation now til next
week

On Mon, Jan 7, 2019, 11:53 AM Aaron Kaplan <bass4aj@gmail.com wrote:

[2019-01-08 06:00] ericl-m3d opened #73 "Extrusion calibration"

[2019-01-08 06:04] #73 closed, assigned to nobody

[2019-01-08 17:04] ericl-m3d opened #74 "Firmware update"
Bowden to RC5

[2019-01-08 17:04] #74 closed, assigned to nobody

[2019-01-08 21:19] ericl-m3d opened #75 "Bowden updates"

[2019-01-08 21:22] #75 closed, assigned to nobody

[2019-01-14 20:39] slipstreamliner commented on #68
Agreed -- the '202patch' branch has been created and will contain this addition. As of now, the 202patch branch contains the changes necessary to allow rotary control of the Z-offset.  This request will be milestoned and closed with the official 2.02 patch branch.

[2019-01-14 20:40] slipstreamliner commented on #67
This is typically caused by ghosting of the menu system. In other words, populating similar rows and columns as a value that already exists.  This should have been resolved in the latest official release.

[2019-01-14 20:41] slipstreamliner commented on #66
Restart and Cancel have both been updated in the latest 202patch branch.  In particular, this issue was caused by a basic typo in the menu system.  This has already been resolved in the 202patch branch; this issue will be milestoned now and closed with the merge of 2.02 official.

[2019-01-14 20:42] slipstreamliner commented on #65
For now, I've added the Cancel Print command(M0, unconditional stop).  Do we have a reason to include stop instead of cancel?

This will be milestoned now and released in the 2.02 official patch.

[2019-01-14 20:44] slipstreamliner commented on #61
I've actually tested this successfully at this point.  I will give you an update after testing against.  This feature will be included in 2.02 Official.  For now, it's being added as a milestone release.

[2019-01-14 20:45] slipstreamliner commented on #44
Both loading and unloading macros are being overhauled for the 2.02 official release. Adding to milestone and will resolve upon branch merge of /202patch.

[2019-01-14 20:49] slipstreamliner commented on #67
@bass4aj in this case you need to download the official release, which includes the /menu folder.  Because these issues were resolved with a change in the menu configuration, rather than the firmware itself, it will require you to update the entire /menu folder on your duet's sd card.

Please reopen if you have any more issues with this -- after reading over I am fairly positive this will solve yo

[2019-01-14 20:49] #67 closed, assigned to nobody

[2019-01-15 02:03] Tylerun commented on #65
Nope same thing close away

[2019-01-16 16:17] slipstreamliner opened #76 "Tune/Prepare Main Menu Item Visibility Bug"
Typically this bug can be seen because the Main Menu area for the "Prepare" and "Tune" overlap and may appear as "Tuneare".

This is a basic overlap issue but can lead to a state in which the menu system is not responsive.   This is a primarily a notice and reminder to resolve this issue.   The 2.02 Full Release Milestone will include this fix.

[2019-01-16 17:19] bass4aj commented on #68
Awesome. If I find any time, I will see if I can contribute at all.

[2019-01-18 15:00] slipstreamliner commented on #68
I've tested this and found it does produce a fairly consistent result. This is primarily because of the extremely high level of resolution provided on the Z-axis by rotary control.  Commit coming soon if anyone else would like to test this branch separately while I finish making updates.

[2019-01-18 15:10] slipstreamliner commented on #68
Still narrowing down the defined values, simply send a:

And then run a G29 or select 'Run Mesh Grid Compensation' in DWC.  I am currently
attempting to determine the best way to deliver this to users, I believe one option to consider would be two or three macros that have growing numbers of probe points... from 4(what we have now), to 8, to 16 or something along those lines.

[2019-01-18 15:19] slipstreamliner commented on #66
While this is now functional I am still seeing some issues.  For example, if the M109 command is used to set hotend temp, the machine will not return the functionality to allow a Pause(printer MUST be paused in order to execute a M0).  Instead, the pause must be executed after heating.

That said, I'm doing a bit of rearrangement to the Tune(paused/printing) menu to enact a pause-only state that s

[2019-01-18 15:20] slipstreamliner commented on #65
@Tylerun If you're available to test today, just grab /202patch branch and ensure your maestro is on 2.02 Firmware(Official Release from dc42).

I'll be fine tuning this and other options relative to how the menu system and the system configuration handle pause/stop/cancel commands.

[2019-01-18 15:29] slipstreamliner opened #77 "Appropriate Steps/MM Value for Bowden, Dual, and Quad"
Would it be possible to get a consensus on the appropriate steps/mm value to utilize for all Crane printers?  I will be including this in the 2.02 update.  (I am having issues accessing discord at the moment.) Could I get a confirmation from @swblum or @ericl-m3d on this one?

[2019-01-18 16:03] slipstreamliner commented on #64
Currently investigating the viability of a splash screen in the next update.  With this, it would be possible to trigger the QC menu by pressing the button on the rotary dial while it is being displayed.

Previously, Images were not functioning as expected and simply produced garbage on the display.  With 2.02 the image rendering function has been improved and additional notes have been added to t

[2019-01-18 16:05] slipstreamliner commented on #61
Keep in mind you will need to ensure the DuetMaestroFirmware.bin file is located in the /sys folder.  For now, it's not possible for us to override this location.  I will keep this tagged in my notes so that we can potentially give this command more functionality in the future.

I tested this on a Crane Quad with total success -- the LCD will display a progress bar, in fact.

[2019-01-18 16:30] slipstreamliner opened #78 "Differentiation of SD 0/1(Internal/External)"
Previously, due to a firmware issue, we did not utilize the external SD Card slot in the LCD.  As of 2.02 these issues are no longer present from my own testing.

This SD Card is referenced as '1', while the internal SD is '0'.  This request is primarily for my own tracking purposes.  This will be resolved upon the 2.02 branch merge.

[2019-01-18 18:00] ericl-m3d commented on #77
Andrey already did that.

807a33e

[2019-01-18 18:03] slipstreamliner commented on #77
Thankyou Sir.

[2019-01-18 18:03] #77 closed, assigned to ericl-m3d

[2019-01-18 22:45] Tylerun opened #79 "(Enhancement) Unload/Load Filament during pause"
Have had an issue where my filament spool ran out near completion of a print. I paused the print and attempted to unload and load a new one but the commands are not accesible. Any way to make them accesible? I know it can be donr via interface online but my computer is decently far away from my printer so i can not use that method.

[2019-01-19 12:42] slipstreamliner commented on #79
Yes, we can move filament load/unload functionality to the paused state.  Will implement with 2.02.

[2019-01-28 20:12] bass4aj commented on #68
The way I envision it working is just a guided process where the printer
will move to each point, and prompt the user to move the nozzle to the bed
with the encoder. click the encoder once its done and move to the next
point until its finished.

On Fri, Jan 18, 2019 at 9:10 AM David Hargrove <notifications@github.com>
wrote:

[2019-01-28 21:15] bass4aj commented on #68
So it looks like we can use the default case of Case 5 in bool ValueMenuItem::Adjust_AlterHelper(int clicks) to do live encoder adjustments on motor movements. Since popup menus are not implemented yet by the looks of it, we can do a Macro that appears in the menu as "Manual Bed Mesh" or something.

That macro can be pre-programmed to relaunch the same sub menu for each point that we want. The sub

[2019-01-28 21:19] bass4aj commented on #68
I would start with 4 probe points and see how it goes. No need to overcomplicate at first

[2019-01-30 19:51] ericl-m3d opened #80 "No resume Button, after selecting pause."
There is no resume button, after selecting pause. (the print button comes back)

[2019-02-06 20:24] bass4aj commented on #68
is this code currently in one of the github branches for me to play with?

[2019-04-22 21:23] ericl-m3d commented on #80
Resume button now present.

[2019-04-22 21:23] #80 closed, assigned to slipstreamliner

[2019-04-22 21:26] ericl-m3d commented on #66
Restart button has been replaced with a new CANCEL option.

2ba523a
9405f87
b7ceadd

Restart option has been temporarily removed (until further notice).
Restarting will consist of pausing, canceling, then re-selecting print file.

[2019-04-22 21:26] #66 closed, assigned to nobody

[2019-04-22 21:28] ericl-m3d commented on #79
Access to the unloading/loading section (during a paused print) has been implemented by these commits.

2ba523a
9405f87
b7ceadd

[2019-04-22 21:28] #79 closed, assigned to slipstreamliner

[2019-04-22 21:31] ericl-m3d commented on #76
Overlap bug has been addressed through layout formatting. Refer to the commits below:
2ba523a
9405f87
b7ceadd

[2019-04-22 21:31] #76 closed, assigned to slipstreamliner

[2019-04-22 21:33] ericl-m3d commented on #68
A manual bed leveling macros (using 4 points, not referring to G32) has been applied.

NOTE: The 4 points are the center points of the bed screws (4x).

[2019-04-22 21:33] #68 closed, assigned to slipstreamliner

[2019-04-22 21:34] ericl-m3d commented on #65
CANCEL option has been added. Refer to commits below:
2ba523a
9405f87
b7ceadd

NOTE: For now, we will consider STOP and CANCEL the same command.

[2019-04-22 21:34] #65 closed, assigned to slipstreamliner

[2019-04-22 21:36] ericl-m3d commented on #44
Unloading options applied to the LCD section "Loading/Unloading Filament".

[2019-04-22 21:36] #44 closed, assigned to slipstreamliner, ericl-m3d

[2019-06-19 20:19] NTX9 opened #84 "Quad Load Menu Timeout"
While using the load menu from the control panel, the menu times out after 30 seconds of inactivity. This often results in having to navigate back to the load menu repeatedly.  Can this timeout be extended or eliminated?